.spacer {
    flex: 1;
  }

  .toolbar {   
    height: 60px;
    display: flex;
   padding-left: 1rem;
    align-items: center;
    background-color: rgb(221, 221, 221);
    color: rgb(41, 40, 40);
    font-weight: 600;
  }
  .filter-container, .content-container{
      border: solid 1px red;
      margin-left: 2rem;
  }
.launch-year{
    padding: 0.2rem;
    background-color: rgb(184, 226, 46);
    color: #000;
   cursor: pointer;
}
.launch-year-item{
    max-width:100px;
     margin-bottom: 0.5rem;
}
.selected, a:active, a:hover{
    background-color: rgb(139, 179, 9);
    text-decoration: none;
}
label{
    text-decoration: underline;
}