<div class="row">
    <div class="col-sm-3" *ngFor="let program of programList">
        <img src="{{program.links.mission_patch}}" alt="{{program.mission_name}}" height="100" widht="100"><br>
        <h6>{{program.mission_name}}#{{program.flight_number}}</h6>
        <label><strong>Launch Year:</strong>{{program.launch_year}}</label><br>
        <label><strong>Successful Launch:</strong>{{program.launch_year}}</label>

    </div>
    <label *ngIf="programList.length === 0"> No Records Found.</label>
</div>